.Footer {
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.Link {
    color: var(--amplify-colors-font-primary);
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}